<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <link rel="stylesheet" href="./../../assets/css/bootstrap.min.css">
    <title>Study APP</title>
  </head>
  <body>

		<nav class="navbar navbar-expand-sm bg-light navbar-light">
		  <div class="container-fluid">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link active" href="./index.html">User</a>
		      </li>
					<li class="nav-item">
		        <a class="nav-link active" onclick="Core.isItLoged();" href="#">Login</a>
		      </li>
		     <li class="nav-item">
		        <a class="nav-link" href="./dt.html">DataTable Example</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Link</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link disabled" href="#">Disabled</a>
		      </li>
		    </ul>
		  </div>
		</nav>
	
		<div class="container">
			<hr>
			<div class="card text-primary">
	      <div class="card-body">Home</div>
	    </div>
			<hr>
		</div>

		</div>
		

    <script src="./../../assets/js/jquery-3.7.1.js"></script>
    <script src="./../../assets/js/bootstrap.bundle.min.js"></script>
		<script src="./../../assets/js/dataTables.js"></script>
		<script src="./../../assets/js/dataTables.bootstrap5.js"></script>
		<script src="./../../core/controller.js"></script>
		
    
  </body>
  
</html>